* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #005097;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: white;
}

.conteudo-todo {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  position: absolute;
  top: 25%;
  left: 25%;
  height: 500px;
  width: 1000px;
}

.aba-esquerda {
  background: linear-gradient(#02b3f9, #007ff0);
  padding: 50px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  justify-content: center;
  text-align: center;
  align-self: center;
  height: 300px;
  width: 400px;
}

.aba-direita {
  background-color: #ffffff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 50px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  justify-self: center;
  height: 300px;
  width: 400px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  padding: 10px 35px;
  border-radius: 30px;
  gap: 20px;
  margin-top: 20px;
  background-color: #ffffff;
  color: black;
  border: #ffffff solid 4px;
}

label {
  font-family: "Play", sans-serif;
  color: #3e3e3e;
  margin: 10px 10px;
}

button {
  background-color: #11cc97;
  border: none;
  padding: 20px 100px;
  margin-top: 20px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}

img {
  width: 70px;
}

.Forgot-Password {
  cursor: pointer;
}
